@{ 
    ViewData["Title"] = "Access denied";
}

<div class="container content-margin text-center">

    <h2 style="margin-bottom: 10px">Access denied</h2>
    
    <h6 class="text-center">
        You don't have sufficent permission to access the contents of the page.
    </h6>

    <a class="btn btn-info text-light" style="margin-top: 10px" onClick="history.go(-1)">Go back</a>

</div>